<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ログアウト</h1>
    <p><%= link_to "ログアウト", logout_path, method: delete %></p>
  </body>
</html>
