<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <% if !session[:login_id] %>
      <p>ログインしてください。</p>
      <p><%= link_to "ログイン", login_path %></p>
    <% else %>
      <h1><%= "#{@user.account_id}をフォローしているアカウント" %></h1>
      <% @user.followers.reverse.each do |f| %>
        <ul>
          <p><%= link_to f.account_id, user_path(f.id) %></p>
        </ul>
      <% end %> 
    <% end %>
  </body>
</html>
