<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ユーザー情情</h1>
    <% @users.each do |user| %>
      <ul>
        <li>ユーザーID：<%= user.id %></li>
        <li>アカウントID：<%= user.account_id %></li>
        <li>メールアドレス：<%= user.email %></li>
        <li>アカウント名：<%= user.name %></li>
      </ul>
    <% end %>
  </body>
</html>
