<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ユーザー情情</h1>
    <p>ユーザーID：<%= @user.id %></p>
    <p>アカウントID：<%= @user.account_id %></p>
    <p>メールアドレス：<%= @user.email %></p>
  </body>
</html>
