<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <% if !session[:login_id] %>
      <p>ログインしてください。</p>
      <p><%= link_to "ログイン", login_path %></p>
    <% else %>
      <h1>TimeLine</h1>
      <p><%= link_to "投稿する", new_post_path %></p>
      <% @posts.each do |post| %>
        <ul>
          <li>投稿ID：<%= post.id %></li>
          <li>投稿者：</li>
          <li>投稿：<%= post.text_content %></li>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
